
.accordion-container { width: 90%; margin: 20px auto; color: #fff; }
.accordion-item { background: #1a1a1a; margin-bottom: 10px; border-radius: 8px; }

.accordion-header {
  padding: 18px 25px;
  background: #242424;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}


.accordion-content {
  display: none;
  padding: 15px;
  background: #121212;
}

.accordion-content.active {
  display: block; 
}

.table-row { display: flex; justify-content: space-between; padding: 10px; border-bottom: 1px solid #333; }